<form [formGroup]="userNotesForm" (ngSubmit)="AddNotes()">
  <label>
    Title:
    <input type="text" formControlName="title" id="title" required>
  </label>



  <label>
    Description:
    <input type="text" formControlName="description" id="description" required>
  </label>

  <button type="submit" [disabled]="!userNotesForm.valid">Add</button>
</form>


<hr>

<!--
    <p>
    Form Value: {{ userNotesForm.value | json }}
  </p>
  <p>
    CurrentActiveEmail: {{ currentActiveEmail }}
  </p>
  
  <p>
    Form Status: {{ userNotesForm.status }}
  </p>
  -->