<div class='main'>

    <!--
        <p>{{currentLoggedInUsers}}</p>
    <p>{{contentStatus}}</p>
    -->

    <div class='topRow'>
        <app-fundoo-top-navigation-bar (searchTextEvent)="receiveMessage($event)"
            [profilePicLink]="currentProfileImageLink" [currentActiveEmail]="currentLoggedInUsers">
        </app-fundoo-top-navigation-bar>
    </div>
    <div class='bottomRow'>
        <div class='bottomRowLeft'>
            <app-fundoo-side-navigation-bar (labelEvent)="receiveLabelName($event)" (messageEvent)="receiveMessage($event)"></app-fundoo-side-navigation-bar>
        </div>
        <div class='bottomRowRight'>
            <app-fundoo-notes-content [labelNameClicked]="clickedlabelName" [contentStatus]="contentStatus"></app-fundoo-notes-content>
        </div>
    </div>
</div>

